h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* nav bar */
#title {
  background-color: #ff4c68;
  color: white;

}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Download-button */
.dlb {
  margin: 5% 3% 5% 0;
}

/* title-image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.fb {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial */
#testimonials {
  text-align: center;
  color: white;
  background-color: #ff4c68;
}

.carousel-item {
  height: 600px;
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/*press  */
#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  padding: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

.pc {
  padding: 3% 2%;
}


  /* Call to Action */
  #cta{
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
  }
  .last{
    font-family: "Montserrat",sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
  }
  /* footer */
  #footer{
    margin: 150px 10px;
    text-align: center;
  }
  .sc{
    margin:20px 10px;

  }



  @media (max-width:980px)
  {
    .title-image{
      position: static;
      transform: rotate(0);
    }
    #title{

      text-align: center;
    }
  }
